@model CreateLoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/LoginRegister/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="login-page">
        <div class="login-container">
            <div class="login-box" style="height:571px;">
                <div class="login-image"></div>
                <div>
                    <div class="login-header">
                        <img src="~/Dashboard/html/logo/SecondTaskLogo.png" class="login-logo">
                        <h1>Sign in</h1>
                    </div>
                    <form class="login-form" method="post" asp-action="Index" asp-controller="Login">
                        <div class="form-group">
                            <input type="text" asp-for="Username" id="username" required>
                            <label for="username">Username</label>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" id="password" required>
                            <label for="password">Password</label>
                            <i class="fas fa-eye toggle-password"></i>
                        </div>
                        <div class="form-buttons">
                            <a href="/Register/Index/" class="create-account">Create account</a>
                            <button type="submit" class="login-button">Sign in</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <script src="~/LoginRegister/js/app.js"></script>
</body>
</html> 